/* Write your CSS code here */
.cart-img {
  width: 250ppx;
  height: 200px;
  margin: 20px;
}

.cart-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
